@model InfoTrack.Tools.SEO.Models.SearchViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to InfoTrack SEO Tool</h2>
</div>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-controller="Home" asp-action="Search" method="post">
    <div class="form-group">
        <label asp-for="@Model.Keywords">Keywords to Search</label>
        <input type="text" class="form-control" asp-for="@Model.Keywords" aria-describedby="keywords" placeholder="Enter keywords" >
        <span asp-validation-for="@Model.Keywords" class="text-danger"></span>
    </div>
    <div class="form-group required">
        <label asp-for="@Model.Url">Url to Search</label>
        <input type="url" class="form-control" asp-for="@Model.Url" placeholder="Enter Url" >
        <span asp-validation-for="@Model.Url" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
